<div class="navbar">
  <div>
    <span>
        <img src="assets/img/JessterFITLogo.png">
        <h1>JESSTERFIT</h1>        
    </span>
    <a>CHALLENGES</a>
    <a>SUBSCRIPTIONS</a> 
    <div id="planDrop" class="dropdown">
        <button class="dropbtn">PLANS 
            <i class="fa fa-caret-down"></i>
        </button>
        <span class="dropdown-content" id="planDropCont">
          <a >MUSCLE GAIN</a>
          <a>LIFESTYLE</a>
          <a>WEIGHT LOSS</a>
        </span>
      </div>
      <div id="apparelDrop" class="dropdown">
          <button class="dropbtn">APPAREL
            <i class="fa fa-caret-down"></i>
          </button>
          <span id="apparelDropCont" class="dropdown-content">
            <a>HOODIES</a>
            <a>VESTS</a>
            <a>HOODED VESTS</a>
          </span>
        </div> 
    </div>           
</div>